<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>            

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ipsum quam quis recusandae aperiam quos molestias explicabo at doloribus odit voluptatum nulla rem quidem quia quasi magni, voluptas sequi ex?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ipsum quam quis recusandae aperiam quos molestias explicabo at doloribus odit voluptatum nulla rem quidem quia quasi magni, voluptas sequi ex?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis ipsum quam quis recusandae aperiam quos molestias explicabo at doloribus odit voluptatum nulla rem quidem quia quasi magni, voluptas sequi ex?</p>
        </div>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>